{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Get To Know us!</h1>

    <p class="lead">Located in the heart of California, we are surrounded by some of the world's most renowned vineyards and wineries, allowing us to stay ahead of the latest trends in the wine industry and offer you exclusive access to the best wines available.

        Whether you are a seasoned wine connoisseur or a novice looking to explore the world of luxury wines, The Wine Collective is here to guide you on your wine journey. Join us in savoring the finest flavors and aromas from around the world, and let us elevate your wine experience to new heights.
        
        Cheers to discovering the extraordinary world of luxury wines by the Wine Collective</p>

    <p>Here is some more info!</p>

{% endblock %}
